streamlit>=1.20.0
pandas>=1.3.0
scikit-learn>=1.1.0
joblib>=1.1.0
scipy>=1.7.0
numpy
matplotlib
seaborn
xgboost
lightgbm
catboost
uvicorn
requests==2.31.0
fastapi[standard]==0.117.1
pydantic==2.8.0
fastapi